---
import { Image } from 'astro:assets'
import Layout from '../../../layouts/Layout.astro'

import likeImg from '../../../assets/like.png'
import dislikeImg from '../../../assets/dislike.png'
---

<Layout title="ExPerk.club | Preference matcher">
  <div class="h-screen bg-[#aea199] p-4">
    <div
      class="w-[500px] border-[10px] bg-[#043239] border-white rounded-md mx-auto h-full flex flex-col"
    >
      <div
        class="h-2/3 bg-[url('https://cdn.pixabay.com/photo/2020/02/06/08/19/band-4823341_1280.jpg')]"
      >
      </div>
      <div class="relative">
        <p
          class="font-['Poetsen One'] text-4xl font-bold text-center text-white uppercase absolute -top-6 left-[90px]"
        >
          Dance and music
        </p>
      </div>
      <p
        class="font-['Ubuntu Sans Mono'] text-center text-white font-regular text-xl px-8 mt-10"
      >
        Attending concerts, going clubbing, participating in dance and music
        workshops
      </p>
      <div class="flex justify-around mt-10">
        <a
          href="/app/activities/craft"
          class="bg-white rounded-full px-10 py-2"
        >
          <Image src={likeImg} alt="Like" class="w-16" />
        </a>
        <a
          href="/app/activities/craft"
          class="bg-white rounded-full px-10 py-2"
        >
          <Image src={dislikeImg} alt="Dislike" class="w-16" />
        </a>
      </div>
    </div>
  </div>
</Layout>
