---
import { Image } from 'astro:assets'
import Layout from '../../../layouts/Layout.astro'

import leisureImg from '../../../assets/leisure.png'
import planepathImg from '../../../assets/planepath.png'
---

<Layout title="ExPerk.club | Preference matcher, spring">
  <div class="h-screen bg-[#aea199] p-4">
    <div
      class="w-[500px] border-[10px] border-white bg-[#272727] rounded-md mx-auto h-full flex flex-col justify-around p-5"
    >
      <div class="flex justify-center mt-5">
        <Image src={leisureImg} alt="seasons logo" />
      </div>
      <h1 class="uppercase text-orange-300 text-4xl text-center font-semibold">
        What would you like to do as leisure?
      </h1>
      <p class="text-2xl font-semibold text-white text-center p-5">
        You will be presented with different activities that you can take part
        in. If you would like to participate in it, like it and if not, dislike
        it.
      </p>
      <a href="/app/activities/food"
        ><Image src={planepathImg} alt="plane path" /></a
      >
    </div>
  </div>
</Layout>
