---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'

import experkLogo from '../assets/ExPerk.png'
import profileImg from '../assets/profile.svg'
import heroImg from '../assets/hero.svg'
---

<Layout title="ExPerk.club | Experience IRL connections for your workforce">
  <div class="bg-[#144fcc] text-white">
    <div class="flex justify-between">
      <div class="p-5">
        <Image src={experkLogo} alt="Logo" class="w-32" />
      </div>
      <div
        class="flex grow justify-around mx-10 text-xl font-bold font-['GlacialIndifference']"
      >
        <div class="flex flex-col justify-center"><a href="#">About</a></div>
        <div class="flex flex-col justify-center">
          <a href="#">Resources</a>
        </div>
        <div class="flex flex-col justify-center"><a href="#">Trainers</a></div>
      </div>
      <div class="p-5">
        <Image src={profileImg} alt="Profile" class="w-20" />
      </div>
    </div>
    <div class="flex mt-24">
      <div class="w-1/3 pb-1">
        <Image src={heroImg} alt="Logo" />
      </div>
      <div class="w-2/3 flex flex-col justify-between">
        <div
          class="uppercase px-10 text-4xl text-center font-semibold font-['CSGordonRegular']"
        >
          Are you ready to elevate your experience with our travel adventures
          tailored for you?
        </div>
        <div>
          <div class="flex justify-center">
            <div
              class="inline-block text-center font-bold font-['CSGordonRegular'] h-[80px] overflow-visible"
            >
              <a
                href="/app/dates"
                class="relative w-32 h-32 flex items-center justify-center"
              >
                <p
                  class="text-8xl absolute inset-0 flex items-center justify-center text-[#eb6502]"
                >
                  START
                </p>
                <p
                  class="text-4xl absolute inset-0 flex items-center justify-center"
                >
                  HERE
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-[#e6e6e6]">
    <!-- continuation -->
  </div>
</Layout>
